.container {
    min-width: 400px;
    width: 100%;
    margin: 30px auto 0 auto;
}

mat-form-field {
    margin-left: 20px;
    font-size: medium;
}

.list-input {

}

table {
    width: 100%;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgba($color: #0a0, $alpha: 0.5);
    border: 2px black solid;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: rgba($color: #a00, $alpha: 0.5);
}

.edit-btn {
    transform: scale(0.75);
}
