<mat-card>

    <mat-toolbar>
        <h1> {{ title }} </h1>

        <span class="fill-remaining-space"></span>

        <button mat-raised-button
            color="{{ showForm ? 'warn' : 'primary' }}"
            (click)="toggleAddFormVisibility()">
            <mat-icon>{{ btnIcon }}</mat-icon>{{ btnText }}
        </button>
    </mat-toolbar>

    <mat-card *ngIf="showForm">
        <app-mountain-form
            [editModeOn]="editModeOfTheFormOn"
            (editMountain)="changeEditMountainMode()"
            [currentMountain]="currentMountain"
            (addMountain)="addMountain()"
        ></app-mountain-form>
    </mat-card>

    <app-mountains-list
        (elementChosen)="listElementChosen($event)"
        (changeStatus)="editMountainStatus($event)"
        (changePaginatorSettings)="updatePaginatorData($event)"
        [mountainsData]="mountains">
    </app-mountains-list>

</mat-card>
