<mat-card>

    <mat-toolbar>

        <h1> {{ title }} </h1>

        <span class="fill-remaining-space"></span>

        <button mat-raised-button>
            <mat-icon>add</mat-icon>Add mountain
        </button>

    </mat-toolbar>

    <!--
        -Name
        -Height
        -Location: Country, Mountain Range, National Park
        -Distance from mountain shelter to mountain peak
        -Nearest mountain shelter
        -Food Quality in shelter
        -Difficulty
        Only snow conditions
        Mountain lift available
        Number of hiking trails
     -->

    <app-mountain-form></app-mountain-form>

    <!-- <ul>
        <li>
        </li>
    </ul> -->
</mat-card>
