.example-form {
    min-width: 400px;
    max-width: 900px;
    width: 100%;
    margin: 30px auto 0 auto;
  }

  .example-full-width {
    width: 100%;
  }

  td {
    padding-right: 8px;
  }

  .last-td {
    padding-right: 0px;
  }

  mat-slider {
    width: 100%;
  }

  mat-progress-bar {
    margin-bottom: 15px;
  }

  .btn {
    width: 100%;
    margin: 10px 0px;
  }
