<form class="example-form">
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
      <mat-form-field
        class="example-full-width"
        appearance="fill">
            <mat-label>Mountain Name</mat-label>
            <input matInput>
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error> -->
      </mat-form-field>
      </td>
      <td>
      <mat-form-field
        class="example-full-width"
        appearance="fill">
            <mat-label>Mountain Height [m]</mat-label>
            <input matInput type="number" max="8849" min="1">
      </mat-form-field>
      </td>
      <td class="last-td">
      <mat-form-field
        class="example-full-width"
        appearance="fill">
            <mat-label>Difficulty</mat-label>
            <mat-select>
                <mat-option value="one">Family Friendly</mat-option>
                <mat-option value="two">Easy</mat-option>
                <mat-option value="three">Medium</mat-option>
                <mat-option value="four">Hard</mat-option>
                <mat-option value="five">Extreme</mat-option>
                <mat-option value="six">You can die!</mat-option>
            </mat-select>
      </mat-form-field>
      </td>
    </tr>
    <mat-label>Location</mat-label>
    <tr>
        <td>
        <mat-form-field
          class="example-full-width"
          appearance="fill">
              <mat-label>Country</mat-label>
              <textarea matInput placeholder="Ex. Poland"></textarea>
        </mat-form-field>
        </td>
        <td>
        <mat-form-field
          class="example-full-width"
          appearance="fill">
              <mat-label>Mountain Range</mat-label>
              <textarea matInput placeholder="Ex. The Sudetes"></textarea>
        </mat-form-field>
        </td>
        <td class="last-td">
            <mat-form-field
              class="example-full-width"
              appearance="fill">
                  <mat-label>National Park</mat-label>
                  <textarea matInput placeholder="Ex. Tatry National Park"></textarea>
            </mat-form-field>
        </td>
    </tr>
    <mat-label>Mountain Shelter</mat-label>
    <tr>
        <td>
        <mat-form-field
          class="example-full-width"
          appearance="fill">
              <mat-label>Name Of The Nearest Mountain Shelter</mat-label>
              <input matInput>
        </mat-form-field>
        </td>
        <td>
        <mat-form-field
          class="example-full-width"
          appearance="fill">
              <mat-label>Distance to the Nearest Shelter [km]</mat-label>
              <input matInput>
        </mat-form-field>
        </td>
        <td  class="last-td">
            <mat-form-field
              class="example-full-width"
              appearance="fill">
                  <mat-label>Quality Of Food in Shelter</mat-label>
                  <mat-select>
                    <mat-option value="zero">Food Not Available</mat-option>
                    <mat-option value="one">Awful</mat-option>
                    <mat-option value="two">Bad</mat-option>
                    <mat-option value="three">Medium</mat-option>
                    <mat-option value="four">Good</mat-option>
                    <mat-option value="five">Delicious</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <section class="example-section">
                <mat-checkbox>Always Snow Conditions</mat-checkbox>
            </section>
        </td>
        <td>
            <section class="example-section">
                <mat-checkbox>Mountain Lift Available</mat-checkbox>
            </section>
        </td>
        <td  class="last-td">
            <mat-label>
                Hiking trails to mountain top:
                <!-- <b>{{ }}</b> TODO: var number -->
            </mat-label><br>
            <mat-slider min="1" max="10" step="1"
                thumbLabel
                [tickInterval]="1"
                ></mat-slider>
        </td>
    </tr>
    </table>

    <section class="example-section" *ngIf="editModeOn">
        <mat-checkbox>Is Deleted</mat-checkbox>
    </section>

    <button mat-raised-button class="btn"
            color="{{ editModeOn ? 'accent' : 'primary' }}"
            (click)="btnClick()">
        <mat-icon>{{ editModeOn ? 'edit' : 'add' }}</mat-icon>
        {{ editModeOn ? 'Edit this mountain!' : 'Add new mountain in database' }}
    </button>
  </form>
