<form class="example-form">
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
      <mat-form-field
        class="example-full-width"
        appearance="fill">
            <mat-label>Mountain Name</mat-label>
            <input matInput
                [(ngModel)]="currentMountain.name"
                [ngModelOptions]="{standalone: true}">
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error> -->
      </mat-form-field>
      </td>
      <td>
      <mat-form-field
        class="example-full-width"
        appearance="fill">
            <mat-label>Mountain Height [m]</mat-label>
            <input matInput
                    [(ngModel)]="currentMountain.height"
                    [ngModelOptions]="{standalone: true}"
                    type="number" max="8849" min="1">
      </mat-form-field>
      </td>
      <td class="last-td">
      <mat-form-field
        class="example-full-width"
        appearance="fill">
            <mat-label>Difficulty</mat-label>
            <mat-select [(ngModel)]="currentMountain.difficulty"
                        [ngModelOptions]="{standalone: true}">
            <mat-option value="Family Friendly">Family Friendly</mat-option>
            <mat-option value="Easy">Easy</mat-option>
            <mat-option value="Medium">Medium</mat-option>
            <mat-option value="Hard">Hard</mat-option>
            <mat-option value="Extreme">Extreme</mat-option>
            <mat-option value="You can die!">You can die!</mat-option>
            </mat-select>
      </mat-form-field>
      </td>
    </tr>
    <mat-label>Location</mat-label>
    <tr>
        <td>
        <mat-form-field
          class="example-full-width"
          appearance="fill">
              <mat-label>Country</mat-label>
              <textarea matInput
                        placeholder="Ex. Poland"
                        [(ngModel)]="currentMountain.country"
                        [ngModelOptions]="{standalone: true}">
              </textarea>
        </mat-form-field>
        </td>
        <td>
        <mat-form-field
          class="example-full-width"
          appearance="fill">
              <mat-label>Mountain Range</mat-label>
              <textarea matInput
                        placeholder="Ex. The Sudetes"
                        [(ngModel)]="currentMountain.range"
                        [ngModelOptions]="{standalone: true}">
              </textarea>
        </mat-form-field>
        </td>
        <td class="last-td">
            <mat-form-field
              class="example-full-width"
              appearance="fill">
                  <mat-label>National Park</mat-label>
                  <textarea matInput
                            placeholder="Ex. Tatry National Park"
                            [(ngModel)]="currentMountain.park"
                            [ngModelOptions]="{standalone: true}">
                  </textarea>
            </mat-form-field>
        </td>
    </tr>
    <mat-label>Mountain Shelter</mat-label>
    <tr>
        <td>
        <mat-form-field
          class="example-full-width"
          appearance="fill">
              <mat-label>Name Of The Nearest Mountain Shelter</mat-label>
              <input matInput
                    [(ngModel)]="currentMountain.shelter"
                    [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        </td>
        <td>
        <mat-form-field
          class="example-full-width"
          appearance="fill">
              <mat-label>Distance to the Nearest Shelter [km]</mat-label>
              <input matInput
                    [(ngModel)]="currentMountain.shelterDistance"
                    [ngModelOptions]="{standalone: true}"
                    type="number">
        </mat-form-field>
        </td>
        <td  class="last-td">
            <mat-form-field
              class="example-full-width"
              appearance="fill">
                  <mat-label>Quality Of Food in Shelter</mat-label>
                  <mat-select
                            [(ngModel)]="currentMountain.foodQuality"
                            [ngModelOptions]="{standalone: true}">
                    <mat-option value="Food Not Available">Food Not Available</mat-option>
                    <mat-option value="Awful">Awful</mat-option>
                    <mat-option value="Bad">Bad</mat-option>
                    <mat-option value="Medium">Medium</mat-option>
                    <mat-option value="Good">Good</mat-option>
                    <mat-option value="Delicious">Delicious</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <section class="example-section">
                <mat-checkbox
                            [(ngModel)]="currentMountain.alwaysSnow"
                            [ngModelOptions]="{standalone: true}">
                    Always Snow Conditions
                </mat-checkbox>
            </section>
        </td>
        <td>
            <section class="example-section">
                <mat-checkbox
                            [(ngModel)]="currentMountain.liftAvailable"
                            [ngModelOptions]="{standalone: true}">
                    Mountain Lift Available
                </mat-checkbox>
            </section>
        </td>
        <td  class="last-td">
            <mat-label>
                Hiking trails to mountain top:
                <!-- <b>{{ }}</b> TODO: var number -->
            </mat-label><br>
            <mat-slider min="1" max="10" step="1"
                thumbLabel
                [tickInterval]="1"
                [(ngModel)]="currentMountain.trails"
                [ngModelOptions]="{standalone: true}"
                ></mat-slider>
        </td>
    </tr>
    </table>

    <section class="example-section" *ngIf="editModeOn">
        <mat-checkbox
                    [(ngModel)]="currentMountain.isDeleted"
                    [ngModelOptions]="{standalone: true}">
            Is Deleted
        </mat-checkbox>
    </section>

    <button mat-raised-button
            type="button"
            class="btn"
            color="{{ editModeOn ? 'accent' : 'primary' }}"
            (click)="btnClick()">
        <mat-icon>{{ editModeOn ? 'edit' : 'add' }}</mat-icon>
        {{ editModeOn ? 'Edit this mountain!' : 'Add new mountain in database' }}
    </button>
  </form>
